<?page title="AppointmentReport" contentType="text/html;charset=UTF-8"?>
<zk>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" root="./win"?>
<div apply="org.booleanfx.core.composer.DiscountBillComposer" width="100%" height="100%" id="win">
<div height="45%" width="100%">
<label id="from"/><datebox id="fromdate" format="dd/MM/yyyy"></datebox><label value="to"/><datebox id="todate" format="dd/MM/yyyy"></datebox>
<combobox id ="category">
<comboitem self="@{each=z}" label="@{z.category_name}" value="@{z.category_name}"/>
</combobox>
<combobox id ="item">

<comboitem self="@{each=z}" label="@{z.item_name}" value="@{z.item_name}"/>
</combobox>
<button id="show" label="SHOW"/>
</div>
<iframe id="report"  height="100%" width="100%"></iframe>
</div>
</zk>