<?xml version="1.0" encoding="UTF-8"?>
<?page title="Task" contentType="text/html;charset=UTF-8"?>
<zk>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" root="./main"?>
<style dynamic="true">
		<!-- Make Plain Grid -->
		.GridLayoutNoBorder tr.z-row td.z-row-inner, tr.z-row
		.z-cell,div.z-grid {
		border: none;
		overflow: hidden;
		zoom: 1;
		background:
		white;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: none;
		}
	</style>

		<zscript deferred="true">
							boolean isBreeze = org.zkoss.zkdemo.userguide.Themes.isBreeze(execution) &amp;&amp; org.zkoss.zkdemo.userguide.Themes.hasBreezeLib();
							boolean isSilvergray = org.zkoss.zkdemo.userguide.Themes.isSilvergray(execution) &amp;&amp; org.zkoss.zkdemo.userguide.Themes.hasSilvergrayLib();
							String bgColor = isBreeze? "#F7F7F7" : isSilvergray? "#DDDDDD" : "#C5E6EF";
							String bgStyle = "background: " + bgColor;
							main.setStyle(bgStyle);
							n.setStyle(bgStyle);
							<!--s.setStyle(bgStyle);-->																				
		</zscript>

<borderlayout id="main" apply="org.booleanfx.core.composer.Expense_registerComposer" height="100%">
<north id="n">

<menubar orient="horizontal" style="">
	<menuitem label="Load" id="mLoad" image="images/action_fetch.gif"/>
	<menuitem label="Save" id="mSave" image="images/action_save1.gif"/>
	<menuitem label="Edit" id="mEdit" image="images/action_edit.gif"/>
	<menuitem label="New" id="mNew" image="images/action_new.gif"/>
	<menuitem label="Delete" id="mDelete" image="images/action_delete.gif"/>
    <menuitem label="Back" id="mBack" image="images/action_back.gif"/>
</menubar>

</north>
<center flex="true">
<div id="zform" style="background-color:#F7F7F7">
<grid sclass="GridLayoutNoBorder" id="zformgrid">
<rows>
<row>
<label>Voucher No</label>
<textbox id="voucher_no"></textbox>
<label>Voucher Date</label>
<datebox id="voucher_date"  format="dd/MM/yyyy" onCreate="self.value = new Date()"></datebox>
</row>

<row>
<label>Narration</label>
<textbox id="narration"></textbox>
<label>Amount</label>
<decimalbox id="amount"></decimalbox>
</row>

<row>
<label>Approved By</label>
<textbox id="approved_by"></textbox>
<label>Remarks</label>
<textbox id="remarks" rows="4"></textbox>
</row>

<row>
<label>Paid to</label>
<textbox id="username"></textbox>
</row>
</rows>
</grid>
<iframe id="report" height="95%" width="100%"/>
</div>

</center>
<south id="s" size="40%" flex="true" maxsize="250" splittable="true" collapsible="true">
<div id="zgrid" style="background-color:#F7F7E7">
	<listbox id="listbox" multiple="true"  mold="paging" pagingPosition="bottom" pageSize="5" >
				<listhead  sizable="true" popup="auto">
					<listheader label="Voucher No"/>
					<listheader label="Voucher Date"/>
					<listheader label="Amount"/>
					<listheader label="Approved By"/>
                    <listheader label="Remarks"/>
                    <listheader label="Username"/>
				</listhead>
				<listitem self="@{each='er'}"
					value="@{er}">
					<listcell label="@{er.voucher_no}" />
					<listcell label="@{er.voucher_date}" />
					<listcell label="@{er.amount}" />
					<listcell label="@{er.approved_by}" />
                    <listcell label="@{er.remarks}" />
                    <listcell label="@{er.username}" />
				</listitem>
	</listbox>
</div>
</south>



</borderlayout>
</zk>
