<?page title="Expense Report" contentType="text/html;charset=UTF-8"?>
<zk>
<div apply="org.booleanfx.core.composer.ExpenditureReportComposer" width="100%" height="100%">
<div height="45%" width="100%">
<label id="from"/><datebox id="fromdate" format="dd/MM/yyyy"></datebox><label value="to"/><datebox id="todate" format="dd/MM/yyyy"></datebox>
<button id="show" label="SHOW"></button>
</div>
<iframe id="report"  height="100%" width="100%"></iframe>
</div>
</zk>