<?page title="Login" contentType="text/html;charset=UTF-8"?>
<zk>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" root="./win"?>
	<style dynamic="true">
		<!-- Make Plain Grid -->
		.GridLayoutNoBorder tr.z-row td.z-row-inner, tr.z-row
		.z-cell,div.z-grid {
			border: none;
			overflow: hidden;
			zoom: 1;
			background: white;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: none;			
		}
	</style>
	<window id="win" mode="modal" height="225px" width="350px"
		title="Login" border="normal" position="center" sclass="breeze" 
		apply="com.ui.composers.LoginComposer">

		<div height="20px" align="center">
			<label style="color:red;font-weight:bold" id="msg" visible="false">
				Invalid Credentials
			</label>
		</div>
		<grid sclass="GridLayoutNoBorder">
			<rows>
				<row>					
					<label value="Username" />					
					<hbox>
						<textbox id="username" width="150px"/>
					</hbox>
				</row>
				<row>
					<label value="Password" />
					<hbox>
						<textbox type="password" id="password" width="150px"/>
					</hbox>
				</row>
				<row>
					<label value="User Type" />
					<hbox>
						<combobox id="usertype">
							<comboitem label="Admin user" />
							<comboitem label="Normal user" />
						</combobox>
					</hbox>
				</row>
				<row>
					<label value="Language" />
					<hbox>
						<combobox id="lang">
							<comboitem label="English" />
						</combobox>
					</hbox>
				</row>				
			</rows>
		</grid>
		<separator />
		<div style="text-align:center;">
			<button label="Login" id="login" mold="trendy" />
		</div>
	</window>
</zk>