<?xml version="1.0" encoding="UTF-8"?>
<?page title="Task" contentType="text/html;charset=UTF-8"?>
<zk>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" root="./main"?>
<style dynamic="true">
		<!-- Make Plain Grid -->
		.GridLayoutNoBorder tr.z-row td.z-row-inner, tr.z-row
		.z-cell,div.z-grid {
		border: none;
		overflow: hidden;
		zoom: 1;
		background:
		white;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: none;
		}
	</style>

		<zscript deferred="true">
							boolean isBreeze = org.zkoss.zkdemo.userguide.Themes.isBreeze(execution) &amp;&amp; org.zkoss.zkdemo.userguide.Themes.hasBreezeLib();
							boolean isSilvergray = org.zkoss.zkdemo.userguide.Themes.isSilvergray(execution) &amp;&amp; org.zkoss.zkdemo.userguide.Themes.hasSilvergrayLib();
							String bgColor = isBreeze? "#F7F7F7" : isSilvergray? "#DDDDDD" : "#C5E6EF";
							String bgStyle = "background: " + bgColor;
							main.setStyle(bgStyle);
							n.setStyle(bgStyle);
							<!--s.setStyle(bgStyle);-->																				
		</zscript>

<borderlayout id="main" apply="org.booleanfx.core.composer.Employee_masterComposer" height="100%">
<north id="n">

<menubar orient="horizontal" style="">
	<menuitem label="Load" id="mLoad" image="images/action_fetch.gif"/>
	<menuitem label="Save" id="mSave" image="images/action_save1.gif"/>
	<menuitem label="Edit" id="mEdit" image="images/action_edit.gif"/>
	<menuitem label="New" id="mNew" image="images/action_new.gif"/>
	<menuitem label="Delete" id="mDelete" image="images/action_delete.gif"/>
    <menuitem label="Back" id="mBack" image="images/action_back.gif"/>
</menubar>

</north>
<center flex="true">
<div id="zform" style="background-color:#F7F7F7">
<grid sclass="GridLayoutNoBorder" id="zformgrid">
<rows>
<row>
<label>Unique user No</label>
<textbox id="emp_no"></textbox>
<label>Username</label>
<textbox id="username"></textbox >
</row>
<row>
<label>Password</label>
<textbox id="password"></textbox>
<label>User Type</label>
<combobox id="usertype" cols="16">
<comboitem label="ADMIN"></comboitem>
<comboitem label="FRONTDESK"></comboitem>
</combobox>
</row>
<row>
<label>Firstname</label>
<textbox id="firstname"></textbox>
<label>Middlename</label>
<textbox id="middlename"></textbox>
</row>

<row>
<label>Lastname</label>
<textbox id="lastname"></textbox>
<label>Mobile</label>
<textbox id="mobile"></textbox>
</row>

<row>
<label>Status</label>
<textbox id="status"></textbox>
<label>Panic Mode</label>
<textbox id="panicmode"></textbox>
</row>






</rows>
</grid>
<iframe id="report" height="95%" width="100%"/>
</div>

</center>
<south id="s" size="40%" flex="true" maxsize="250" splittable="true" collapsible="true">
<div id="zgrid" style="background-color:#F7F7E7">
	<listbox id="listbox" multiple="true"  mold="paging" pagingPosition="bottom" pageSize="5" >
				<listhead  sizable="true" popup="auto">
					
					<listheader label="Unique user No"/>
					<listheader label="Username"/>
					<listheader label="User Type"/>
					<listheader label="Firstname"/>
                    <listheader label="Lastname"/>
                    <listheader label="Mobile"/>
                    <listheader label="Status"/>
                    <listheader label="Panic Mode"/>
				</listhead>
				<listitem self="@{each='emp'}"
					value="@{emp}">
					
					<listcell label="@{emp.emp_no}" />
					<listcell label="@{emp.username}" />
					<listcell label="@{emp.usertype}" />
					<listcell label="@{emp.firstname}" />
                    <listcell label="@{emp.lastname}" />
                    <listcell label="@{emp.mobile}" />
                    <listcell label="@{emp.status}" />
                    <listcell label="@{emp.panicmode}" />
				</listitem>
	</listbox>
</div>
</south>



</borderlayout>
</zk>
