<?xml version="1.0" encoding="UTF-8"?>

<window id="demo" apply="org.zkoss.zkdemo.userguide.DemoWindowComposerBLayout">
	<html><![CDATA[
		<h4>Complex Borderlayout</h4>
		<p>A complex example for use of borderlayout. </p>
	]]></html>
	<separator/>
	<tabbox width="100%" tabscroll="false">
		<tabs>
			<tab id="demoView" label="Demo"/>
			<tab id="srcView" label="View Source" closable="true" />
		</tabs>
		<tabpanels>
			<tabpanel>
				<window id="view2">
					<zk>
						<zscript deferred="true">
							boolean isBreeze = org.zkoss.zkdemo.userguide.Themes.isBreeze(execution) &amp;&amp; org.zkoss.zkdemo.userguide.Themes.hasBreezeLib();
							boolean isSilvergray = org.zkoss.zkdemo.userguide.Themes.isSilvergray(execution) &amp;&amp; org.zkoss.zkdemo.userguide.Themes.hasSilvergrayLib();
							String bgColor = isBreeze? "#F7F7F7" : isSilvergray? "#DDDDDD" : "#C5E6EF";
							String bgStyle = "background: " + bgColor;
							b.setStyle(bgStyle);
							n.setStyle(bgStyle);							
						</zscript>
						<borderlayout id="b" height="850px">
							<north id="n" size="40px" border="0" flex="true" splittable="true">
								<div>
									<menubar >
										<menuitem label="Load" image="images/action_fetch.gif" />
										<menuitem label="Edit" image="images/action_edit.gif"/>
										<menuitem label="New" image="images/action_new.gif"/>
										<menuitem label="Copy" image="images/action_copy.gif"/>
										<menuitem label="Delete" image="images/action_delete.gif"/>
									</menubar>
								</div>
							</north>
													
							<!-- Content -->
							<center flex="true">
								<tablelayout columns="2">
									<tablechildren colspan="2">
										<panel>
											<panelchildren>
												<label value="HOME" style="font-size:20px;"/>
											</panelchildren>
										</panel>
									</tablechildren>
									<tablechildren  width="50%">
										<panel title="Reference" border="normal">
											<panelchildren>
												<grid fixedLayout="true" style="border:0;">
												<rows>
													<row><div><toolbarbutton label="Functional Designs"/>(<toolbarbutton label="Releases"/>, <toolbarbutton label="Designs"/>, Product Overview)</div></row>
													<row><div><toolbarbutton label="Technical Docs"/></div></row>
													<row><div><image src="/img/Centigrade-Widget-Icons/Calendar-16x16.png"/><separator orient="vertical"/><toolbarbutton label="Project Calendar"/></div></row>
													<row><div><image src="/img/Centigrade-Widget-Icons/BookBlue-16x16.png"/><separator orient="vertical"/><toolbarbutton label="Developer's Refenence"/></div></row>
													<row><div><image src="/img/Centigrade-Widget-Icons/BookGreen-16x16.png"/><separator orient="vertical"/><toolbarbutton label="Developer's Guide"/></div></row>
													<row><div><image src="/img/Centigrade-Widget-Icons/BookBrown-16x16.png"/><separator orient="vertical"/><toolbarbutton label="Component Guide"/></div></row>
													<row><div><image src="/img/Centigrade-Widget-Icons/Booklet-16x16.png"/><separator orient="vertical"/><toolbarbutton label="Style Guide"/></div></row>
													<row><div><image src="/img/Centigrade-Widget-Icons/Envelope-16x16.png"/><separator orient="vertical"/><toolbarbutton label="Mailing Lists"/></div></row>
												</rows>
												</grid>
											</panelchildren>
										</panel>
									</tablechildren>
									<tablechildren  width="50%">
										<panel title="Customer Overview" border="normal"
												style="margin-bottom:10px">
											<panelchildren>
												<grid fixedLayout="true" style="border:0px" height="100%">
													<columns>
														<column label="category" />
														<column label="value" />
													</columns>
													<rows>
														<row>
															<label id="c0" value="Europe" />
															<decimalbox id="v0" value="41.2"
																constraint="no empty" onChange="update(0)" />
														</row>
														<row>
															<label id="c1" value="Africa" />
															<decimalbox id="v1" value="5.2"
																constraint="no empty" onChange="update(1)" />
														</row>
														<row>
															<label id="c2" value="America" />
															<decimalbox id="v2" value="36.4"
																constraint="no empty" onChange="update(2)" />
														</row>
														<row>
														<label id="c3" value="Australia" />
														<decimalbox id="v3" value="18.2"
															constraint="no empty" onChange="update(3)" />
													</row>
													<row>
													<label id="c4" value="Asia" />
													<decimalbox id="v4" value="28.2"
														constraint="no empty" onChange="update(4)" />
												</row>
													</rows>
												</grid>
											</panelchildren>
										</panel>
									</tablechildren>
									<tablechildren width="50%" colspan="2">
										<panel border="normal">
											<panelchildren>
												<checkbox label="3D Chart" checked="true"
													onCheck="mychart.setThreeD(self.isChecked())" />
												<chart id="mychart" title="Pie Chart Demo" width="450px"
													type="pie" threeD="true" fgAlpha="128">
													<attribute name="onClick">
														Area area = event.getAreaComponent();
														if (area != null) {
															alert(""+area.getAttribute("entity")+":"+area.getTooltiptext());
														}
													</attribute>
													<zscript>
														void update(int rowIndex) { Label lb =
														(Label) self.getFellow("c"+rowIndex);
														Decimalbox db = (Decimalbox)
														self.getFellow("v"+rowIndex);
														model.setValue(lb.value, new
														Double(db.getValue().doubleValue())); }
								
														PieModel model = new SimplePieModel();
														for(int j=0; j &lt; 5; ++j) { update(j); }
														mychart.setModel(model);
													</zscript>
												</chart>
											</panelchildren>
										</panel>
									</tablechildren>
								</tablelayout>
							</center>
							<south id="s" size="40px" border="0" style="background: none repeat scroll 0 0 ${color};">
								<toolbar mold="panel" align="center">
									<toolbarbutton label="Sign in"/>
									<toolbarbutton label="Home"/>
									<toolbarbutton label="Sitemap"/>
									<toolbarbutton label="Terms"/>
									<toolbarbutton label="Report Abuse"/>
									<toolbarbutton label="Print"/>
									<separator orient="vertical" bar="true"/>
									Powered by
									<toolbarbutton label="ZK Borderlayout"/>
								</toolbar>
							</south>
						</borderlayout>
					</zk>
				</window>
			</tabpanel>
			
			<tabpanel>
				<panel>
					<panelchildren>
						<textbox id="codeView" class="code" rows="20" width="95%">
			<attribute name="value"><![CDATA[

			]]></attribute>
						</textbox>
					</panelchildren>
					<toolbar mold="panel">
						<button id="tryBtn" label="Try me!"/>
						<button id="reloadBtn" label="Reload"/>
					</toolbar>
				</panel>
			</tabpanel>
		</tabpanels>
	</tabbox>
</window>
