<?page title="login" contentType="text/html;charset=UTF-8"?>
<zk>
<style dynamic="true">
		<!-- Make Plain Grid -->
		.GridLayoutNoBorder tr.z-row td.z-row-inner, tr.z-row
		.z-cell,div.z-grid {
		border: none;
		overflow: hidden;
		zoom: 1;
		background:
		white;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: none;
		}
</style>
<window height="170px" width="300px" id="loginwindow" style="font-weight:bold" title="Mammothshq Billing Software" border="normal" apply="org.booleanfx.core.composer.LoginComposer">
<div height="30px" align="center"><label  style="color:blue;font-weight:bold" id="msg"/></div>
<grid sclass="GridLayoutNoBorder">
<rows>
<row align="center">
<label style="font-weight:bold">Login Id</label>
<textbox id="username"></textbox>
</row>
<row align="center">
<label style="font-weight:bold">Password</label>
<textbox id="password" type="password"></textbox>
</row>
</rows>
</grid>
<grid sclass="GridLayoutNoBorder">
<rows>
<row align="center">
<button id="login" label="LOGIN"></button>
</row>
</rows>
</grid>
</window>
</zk>