<?xml version="1.0" encoding="UTF-8"?>

<?page id="userGuide" title="ZK Sandbox"?>
<?link rel="stylesheet" type="text/css" href="/userguide/macros/userguide.css.dsp?v=${desktop.webApp.build}"?>
<?script type="text/javascript" src="/userguide/macros/zkdemo.js.dsp?v=${desktop.webApp.build}"?>
<?script type="text/javascript" content="jq.IE6_ALPHAFIX=/24x24.png|32x32.png|48x48.png|128x128.png|ButtonBlue.png|ButtonGray.png|small.png|small-sel.png|normal.png|normal-sel.png|large.png|large-sel.png/;"?>
<?meta name="keywords" content="ZK, Ajax, Mobile, Framework, Ajax framekwork, RIA, Direct RIA, Java, JSP, JSF, Open Source, Comet" ?>
<?component name="category" extends="button" widgetClass="userguide.Category" mold="default"?>
<?component name="categorybar" extends="div" widgetClass="userguide.Categorybar"?>
<zk>
	<zscript><![CDATA[
	boolean isBreeze = org.zkoss.zkdemo.userguide.Themes.isBreeze(execution)
			&& org.zkoss.zkdemo.userguide.Themes.hasBreezeLib();
	boolean isSilvergray = org.zkoss.zkdemo.userguide.Themes
			.isSilvergray(execution)
			&& org.zkoss.zkdemo.userguide.Themes.hasSilvergrayLib();
	String themeSClass = isBreeze ? "breeze" : isSilvergray ? "silvergray"
			: "blue";
]]></zscript>
	<borderlayout id="main" sclass="${themeSClass}"
		apply="org.zkoss.zkdemo.userguide.MainLayoutComposer">
		<north border="none" size="100px" sclass="demo-header"
			collapsible="true">
			<div>
				<div sclass="demo-logo pointer"
					onClick='Executions.sendRedirect("http://www.zkoss.org")'>
					<image width="90px" height="80px"
						src="/img/ZK-Logo.gif" />
				</div>
				<categorybar zclass="demo-categorybar" id="header">
					<category zclass="demo-category"
						forEach="${main$MainLayoutComposer.categories}" id="${each.id}"
						image="${each.icon}" label="${each.label}"
						forward="onClick=main.onCategorySelect" />
				</categorybar>
			</div>
		</north>
		<west title="ZK ${desktop.webApp.version}" size="250px"
			flex="true" splittable="true" minsize="210" maxsize="500"
			collapsible="true">
			<panel>
				<toolbar>
					<label value="Search:" />
					<textbox id="searchBox" ctrlKeys="#down#up"
						focus="true" sclass="demo-search-inp" />
				</toolbar>
				<panelchildren>
					<listbox id="itemList" oddRowSclass="non-odd"
						sclass="demo-items"
						itemRenderer="${main$MainLayoutComposer.itemRenderer}"
						model="${main$MainLayoutComposer.selectedModel}"
						fixedLayout="true" vflex="true">
						<custom-attributes
							org.zkoss.zul.listbox.rod="false" />
					</listbox>
				</panelchildren>
			</panel>
		</west>
		<center autoscroll="true" flex="true">
			<include style="padding:3px;" id="xcontents" />
		</center>
	</borderlayout>

	<script
		if='${execution.serverName == "www.zkoss.org" or execution.serverName == "www.potix.com"}'>
		var gaJsHost = (("https:" == document.location.protocol) ?
		"https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost +
		"google-analytics.com/ga.js'
		type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script
		if='${execution.serverName == "www.zkoss.org" or execution.serverName == "www.potix.com"}'
		defer="true">
		<![CDATA[ try { var pageTracker =
		_gat._getTracker("UA-121377-3");
		pageTracker._setDomainName("zkoss.org");
		pageTracker._initData(); pageTracker._trackPageview();

		zk.override(zAu, "beforeSend", function (uri, req) { try { var t
		= req.target; if (t && t.id && (!req.opts ||
		!req.opts.ignorable)) { var data = req.data||{}, value =
		data.items && data.items[0]?data.items[0].id:data.value;
		pageTracker._trackPageview(uri +"/" + t.id + "/" + req.name +
		(value?"/"+value:"")); } } catch (e) { } return
		zAu.$beforeSend(uri, req); }); }catch(e){ } ]]>
	</script>

</zk>
